# База данных
DB_USER=cherdak_user
DB_PASSWORD=secret_password_here
DB_NAME=cherdak_db
DB_PORT=5432

# Сервер
PORT=3001
SERVER_URL=http://localhost:3001 # Общедоступный URL без бэкслэша в конце
JWT_SECRET=super_secret_theatre_key_123_replace_me