
.url-booking-menu-container{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

    margin-bottom: 90px;
}

.load-url-booking-menu {
    grid-area: 1/1;
    z-index: 2;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3; /* Цвет фонового кольца */
    border-top: 5px solid #b2b2b2; /* Цвет крутящейся активной части */
    border-radius: 50%; /* Превращает квадрат в круг */
    animation: spin 1s linear infinite;
}

.bg-url-booking-menu {
    grid-area: 1/1;
    z-index: 2;

    border-radius: 30px;
    width: 40%;
    height: 80%;
    background-color:  rgba(196, 184, 184, 0.25)
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.url-booking-menu {
    grid-area: 1/1;
    z-index: 3;
    border-radius: 30px;
    width: 40%;
    height: 80%;
}

.close-url-booking-menu-panel {
    white-space: pre;

    font-family: Arial;
    /* margin-top: 0px; */
    /* margin-right: auto; */
    margin-top: auto;
    margin-bottom: 20px;
    padding: 15px 35px;
    background-color: #8b0000 !important;
    color: #ffffff !important;
    border: 2px solid #8b0000 !important;
    border-radius: 30px; 
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

    text-decoration: none; /* убрать подчеркивание  */
    
    display: flex;
    justify-content: center;

    grid-area: 1/1;
    z-index: 4;

    width: 40%;
}

.close-url-booking-menu-panel:hover {
    transform: scale(1.02);
    background-color: #a00000 !important;
    border-color: #8b0000 !important;
    /* transform: translateY(-3px); */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 748px) {
    .url-booking-menu {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .bg-url-booking-menu {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .url-booking-menu-container{
        margin-bottom: 0;
    }
}


/* полупрозрачный фон на весь экран */
.booking-menu-overlay {
    position: fixed;      /* Фиксируем поверх всего */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Затемнение */
    display: flex;
    justify-content: center; /* Центрируем форму по горизонтали */
    align-items: center;     /* Центрируем форму по вертикали */
    z-index: 3000;           /* Самый высокий приоритет отображения */
    backdrop-filter: blur(4px); /* Легкое размытие заднего фона */
}


.booking-menu-content {
    background-color: #ffffff;
    padding: 35px;
    border-radius: 18px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    position: relative;
    box-sizing: border-box;
    color: #1f2937;
    box-shadow: 0 10px 120px rgba(0, 0, 0, 0.8);;
}

/* Заголовок формы */
.booking-menu-content h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.menu-close-btn {
    /* position: absolute; */
    top: 15px;
    right: 25px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #9ca3af;
    transition: color 0.2s;
}

.menu-close-btn:hover {
    color: #8b0000;
}

.line-divider-booking {
    border-bottom: 1px solid #dadcde;
}

/* Контейнер полей ввода */
.booking-form {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

.form-group label {
    font-size: 1.1rem;
    font-weight: 600;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #d1d5db;
    /* border-radius: 6px; */
    font-size: 1rem;
    font-family: second;
    outline: none;
    transition: border-color 0.2s;
    background-color: #fff;
    color: #000000;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #8b0000;
}

/* Кнопка отправки */
.submit-btn {
    margin-top: 10px;
    padding: 12px;
    background-color: #8b0000;
    color: #ffffff;
    border: none;
    /* border-radius: 6px; */
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.submit-btn:hover {
    background-color: #960404;
    scale: 1.01;
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.2);
}

.submit-btn:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
}

/* Сообщения об ошибках и успехе */
.status-error {
    color: #dc2626;
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.status-success {
    color: #16a34a;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}