
.playbill-container {
    margin-top: 100px; /* Отступ сверху под фиксированную шапку */
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-sizing: border-box;
}

.playbill-title {
    font-family: "main";
    font-size: 4rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 0px;
}

/* Статусные сообщения */
.playbill-status, .playbill-error {
    text-align: center;
    font-size: 1.2rem;
    margin: 40px 0;
}
.playbill-error {
    color: #ff0000;
}


.playbill-list {
    display: flex;
    flex-direction: column;
    gap: 40px; 
}


.event-card {
    margin-top: 40px;
    display: flex;
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
    transform: scale(1.005);
    /* transform: translateY(-4px); */
    
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}


.event-img-container {
    position: relative;
    width: 100%; 
    height: 100%;
    min-width: 250px;
    overflow: hidden;

}

.event-img-bg-container {
    position: relative;
    width: 40%; /* Картинка занимает 30% ширины карточки */
    min-width: 250px;
    overflow: hidden;

}

.event-img-bg {
    position: absolute;
    filter: blur(13px) brightness(0.9);
    width: 100%;
    height: 100%;
    object-position: center;
}

.event-img  {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}


/* Описание спектакля */
.event-info {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-title-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.event-card-title {
    font-family: "main", sans-serif;
    font-size: 28px;
    color: #1f2937;
    margin-bottom: 15px;
}


.event-rating {
    top: 15px;
    left: 15px;;
    color: #000000;
    padding: 6px 6px;
    font-size: 20px;
    font-weight: second;
}

.event-genre, .play-director {
    font-size: 15px;
    color: #000000;
    margin-bottom: 8px;
}

.event-description {
    width: 85%;
    font-size: 15px;
    line-height: 1.6;
    color: #6b7280;
    margin-bottom: 20px;
}

/* Блок с датой, временем и залом */
.event-details-info {
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: #4b5563;
    margin-top: 5px;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

.event-date {
    font-weight: bold;
    color: #8b0000; 
}

/* Кнопка записи */
.booking-btn {
    width: 100%;
    margin-top: 30px;
    margin-right: auto;
    padding: 15px 35px;
    background-color: #8b0000 !important;
    color: #ffffff !important;
    border: 2px solid #8b0000 !important;
    border-radius: 0px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    appearance: none;
}

.booking-btn:hover {
    background-color: #a00000 !important;
    border-color: #a00000 !important;
    
    transform: scale(1.02);
    /* transform: translateY(-3px); */
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.2);
}

.booking-btn.disabled {
    background-color: #000000 !important;
    border-color: #000000 !important;

    font-size: 1.1rem;
    font-family: Arial;
    text-decoration: none; /* убрать подчеркивание  */
}

/* для мобилок  */
@media (max-width: 768px) {
    .event-card {
        flex-direction: column; /* картинка сверху, текст снизу */
    }
    
    .event-img-container {
        width: 100%;
        height: 300px;
    }

    .event-img-bg-container {
        width: 100%;
        height: 300px;
    }
    
    .event-info {
        width: 100%;
    }
    
    .booking-btn {
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
    }
    .booking-btn.disabled {
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
    }
}

/* Разделитель между актуальными и прошедшими показами */
.events-divider-line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
}

.events-divider-line {
    width: 60%;
    height: 2px;
    border: none;
    background: linear-gradient(90deg, rgba(139,0,0,0), #8b0000, rgba(139,0,0,0));
}

.events-divider-line-title {
    font-size: 1rem;
    color: #000000;
    font-weight: 700;
}

@media (max-width: 768px) {
    .recent-divider {
        width: 90%;
    }
}