
.footer-container {
    display: block;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 50px 40px 20px 40px;
    font-family: Arial;
    margin-top: 50px;
    box-sizing: border-box;
}


.footer-columns-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    align-items: start; /* выравниваем все блоки по верхнему краю */
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 20px;
    border-bottom: 2px solid #333333;
    padding-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-column p {
    font-size: 13px;
    line-height: 1.6;
    color: #aaaaaa;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}




.footer-link {
    font-size: 13px;
    color: #aaaaaa;
    text-decoration: none;
    display: inline-block; /* нужно для анимации подпрыгивания */
    transition: color 0.2s ease, transform 0.2s ease;
}
.footer-link:hover {
    color: #8b0000;
    transform: translateY(-2px);
}


/* активная ссылка  */
.footer-link.active {
    color: #8b0000;
    font-weight: bold;
}


.footer-socials {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.social-link {
    font-size: 13px;
    color: #2563eb;
    text-decoration: none;
    transition: color 0.2s;
    font-weight: bold;
}

.social-link:hover {
    color: #60a5fa;
    text-decoration: underline;
}




.social-logo {
    width: 100%;
    max-width: 90px;
    height: auto;
    margin-top: 8px;
    border-radius: 12px;
}

.brick-logo {
    width: 100%;
    max-width: 90px; 
    height: auto;
    border-radius: 12px;
    cursor: pointer; 
    margin-top: 10px;
}

.footer-meow-logo {
    width: 100%;
    max-width: 130px;
    height: auto;
    border-radius: 12px;
    cursor: pointer; 
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.footer-meow-logo:hover {
    transform: scale(1.05)  
}
.footer-meow-logo:active {
    transform: scale(0.95); 
}






.footer-bottom {
    width: 100%;          
    max-width: 1200px;
    margin: 30px auto 0 auto;
    padding-top: 20px;
    border-top: 1px solid #333333;
    display: block;       
    text-align: center; 
}

.footer-bottom p {
    font-size: 11px;
    color: #555555;
    text-align: center;   
    width: 100%;
    margin: 0 auto;   
}


/* для планшетов: делим на 2 колонки */
@media (max-width: 992px) {
    .footer-columns-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* для мобилок: всё выстраивается в один столбик */
@media (max-width: 560px) {
    .footer-columns-container {
        grid-template-columns: 1fr;
    }
}