.header-container { 
    /* Расположение */ 
    position: fixed;      /* фиксируем плашку на экране */
    top: 0;
    left: 0;
    width: 100%; 
    height: 85px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 999;        /* Плашка всегда поверх остального */

    /* Оформление */
    background-color: rgba(255, 255, 255, 0.95); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);    

    transition: transform 0.4s ease-in-out;
}

/* прячем */
.header-container.hidden { 
    transform: translateY(-100%); 
}

/* показываем плашку */ 
.header-container.visible { 
    transform: translateY(0); 
}

.left-container {
    flex: 1; 
    display: flex; 
    align-items: center;  
    justify-content: flex-start; /* прижимает всё левому краю */
    gap: 0px;  
    margin-bottom: 25px;
}

.header-title {
    font-family: "Arial";
    font-size: 1.4rem;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: auto;
    width: fit-content;
    text-wrap: pre-wrap;
    text-align: center;
    cursor:default;
    

    position: relative; 
    padding-left: 15px; 
}

.header-title::before {
    content: "";
    position: absolute;
    left: 0;
    
    width: 1px;          
    height: 46px;        
    background-color: #000000; 
    
    top: 50%;
    transform: translateY(-50%); 
}


.logo-link { 
    text-decoration: none; 
}

.logo { 
    margin-top:20px;
    width: 58px;         
    height: auto;         
    transition: all 0.4s ease; 
}

.logo:hover { 
    transform: translateY(2px);
}

.logo:active {
    transform: scale(0.80); 
}


.path-navigation-container { 
    flex: 0 0 auto; /* :\ не растет и не сжимается, занимает только свое место */
    display: flex; 
    justify-content: center;
    align-items: center;  
    gap: 8px;             
    font-family: "Arial", sans-serif; 
    text-transform: uppercase;
    font-size: 1.2rem; 
}

.path-item {
    display: flex;
    align-items: center;
}

.path-link { 
    font-family: "Arial";
    font-size: 1.2rem;
    font-weight: 800;
    color: #9ca3af;
    text-decoration: none; 
    display: inline-block; 
    transition: color 0.2s ease, transform 0.2s ease; 
}

.path-link.active { 
    color: #000000; 
}

.path-link:hover { 
    color: #8b0000; 
    /* transform: scale(1.04); */
    /* transform: translateY(-2px); */
}

.path-link.active.reload-link:hover { 
    color: #8b0000;               
    /* transform: scale(1.04);  */
    /* transform: translateY(-2px); */
}

.path-link.gray { 
    color: #9ca3af; 
}
.path-link.gray:hover { 
    color: #8b0000; 
}

.path-separator { 
    color: #000000;
    font-weight: bold; 
    cursor: default; 
    display: inline-block; 
    margin-right: 8px; 
    background: none;
    border: none;
}

.path-separator.gray { 
    color: #9ca3af;
}


.right-container { 
    flex: 1; 
    display: flex; 
    align-items: center;  
    justify-content: flex-end; /* прижимает всё к правому краю */
    gap: 8px;             
}

.playbill-button {
    font-family: "Arial";
    text-transform: uppercase;
    padding: 10px 25px 10px 15px;
    font-size: 1.2rem; 
    font-weight: 550;
    color: #000000; 
    border-right: 1px solid #000000;
    text-decoration: none;
    cursor: pointer; 
    transition: color 0.2s ease, transform 0.2s ease;
}

.playbill-button:hover { 
    color: #8b0000;   
}

.button-menu { 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 50px; 
    font-weight: 550;
    color: #000000; 
    background: none;
    border: none;
    cursor: pointer; 
    margin-bottom: 8px; 
    transition: color 0.2s ease, transform 0.2s ease;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

.button-menu:hover { 
    color: #8b0000;       
}

.button-menu:active { 
    transform: scale(0.90);       
}


@media (max-width: 768px) {
    /* убираем название театра */
    .header-title {
        display: none;
    }

    /* убираем кнопку Афиша */
    .playbill-button {
        display: none;
    }

    /* убираем разделители */
    .path-separator {
        display: none;
    }

    /* cкрываем неактивные пункты навигации */
    .path-item.mobile-hidden {
        display: none;
    }


    .left-container {
        margin-bottom: 0;
    }
    .logo {
        margin-top: 0;
    }

 

    .path-link {
        font-size: 1.2rem;
        margin-left: 15px;
        margin-top: 5px;
    }

    .button-menu {
        margin-top: 5px;
        font-weight: bold;
        font-size: 2.5rem;
    }
}