.carousel-container {
  background-color: #ffffff;
  padding: 100px 0;
  overflow: hidden;
}


.carousel-title-link {
  font-family: 'main';
  font-size: 5rem;
  color: #000000;

  text-shadow: 0 0 16px rgba(0, 0, 0, 0.05);

  display: inline-block; /* нужно для анимации подпрыгивания */
  transition: color 0.2s ease, transform 0.2s ease;
  text-decoration: none; /* убрать подчеркивание  */

  /* Для отцентровки (text-align:; - не поможет с ссылкой) */
  display: flex;
  justify-content: center;

}

.carousel-title-link:hover {
    color: #8b0000;
    transform: translateY(-2px);
}


.performances-swiper-slide {
  width: auto;
  max-width: 100%;
  padding: 20px 10px;
  margin-top: 30px;
}


.performance-swiper-card {
  display: flex;
  height: 450px;
  width: 100%;
  min-width: 260px;
  max-width: calc(100vw - 48px);
  transition: transform 0.3s ease;
  margin-bottom: -11px;
  cursor: pointer;
}

.atropos-performance {
  width: 650px; /* бзовая ширина для десктопа */
  filter: drop-shadow(0 12px 24px rgba(0, 0, 0, 0.18));
  cursor: pointer;
}

.performance-card-container,
.performance-img-container {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 100%;
  width: fit-content; /* Ширина блока = ширине картинки */
}

.performance-img {
  height: 100%;
  width: auto;
  display: block;
  object-fit: contain;
}


.performance-content {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px 20px;
  pointer-events: none;
  
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.2) 15%,
    rgba(0, 0, 0, 0) 40%
  );
}

.text-line-1 {
  margin-bottom: 15px;
  text-shadow: 0 0 16px rgba(63, 58, 58, 0.5);
}

.performance-activestate-true,
.performance-activestate-false {
  font-family: Arial; /*'Times New Roman'; */
  color: #fff;
  padding: 4px 8px;
  font-size: 1.3rem;
  font-weight: 550;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 1px;
  width: fit-content; 
}

.performance-rate {
  font-family: 'Times New Roman';
  font-size: 1.3rem;
  background: none;
  color: #fff;
  margin-bottom: 12px;
  margin-left: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
  font-weight: 600;
  padding: 3px 8px;
}

.performance-activestate-true { background-color: #8c020b; border: 1px solid #8c020b;}
.performance-activestate-false { background-color: #000; border: 1px solid #000}

.performance-title {
  font-family: main;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 8px;
  color: #fff;
  white-space: nowrap; /* В одну строку делает все */
  text-shadow: 0 0 16px rgba(63, 58, 58, 0.2);
  
}

/* отступ для дектсопа */
.performance-title,
.performance-activestate-true,
.performance-activestate-false {
  margin-left: -70px; 
}

.performance-director {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 16px rgba(63, 58, 58, 0.7);
}

.performance-genre {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 16px rgba(63, 58, 58, 0.7);
}

@media (max-width: 768px) {
  .carousel-container { padding: 60px 0 20px; }
  
  .carousel-title { font-size: clamp(2.4rem, 10vw, 3.8rem); }


  .performance-swiper-card {
    height: 400px; 
    max-width: calc(100vw - 32px);
  }

  .atropos-performance {
    width: 100% !important;
  }

  /* отмена отсупа декстопа, другая логика */
  .performance-card-container,
  .performance-img-container {
    width: 100% !important; 
    height: 100%;
  }

  .performance-img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover; 
  }

  .performance-content {
    padding: 20px;
    width: 100%;
  }

  /* текст выравнивается по левому краю экрана */
  .performance-title,
  .performance-activestate-true,
  .performance-activestate-false,
  .performance-genre {
    margin-left: 0 !important; 
    white-space: normal; /* разрешаем перенос */
    max-width: 100%;
  }

  .performance-title {
    font-size: clamp(1.8rem, 8vw, 2.5rem) !important;
    line-height: 1.2;
  }
}



/* навигация и пагинация */

.swiper-controls-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 20px;
  width: min(30%, 880px);
  margin-inline: auto;
}

@media (max-width: 768px) {
  .swiper-controls-container {
    gap: 12px;
    width: 98%;
  }
}

.swiper-controls-container .swiper-pagination {
  position: static;
  transform: none !important;
  justify-self: center;
}

.swiper-prev {
  justify-self: start;
}

.swiper-next {
  justify-self: end;
}

.custom-nav-btn {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #000000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.custom-nav-btn:hover {
  background: #000;
  color: #fff;
}

.swiper-pagination-bullet { background: #000 !important; opacity: 0.3; }
.swiper-pagination-bullet-active { background: #83060e !important; opacity: 1; }