.line-divider-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px 0px 20px; 
}
.line-divider {
    border-bottom: 2px solid #e5e7eb;
}


/* Общий контейнер */

.home-container {
    width: 100%;
}

.start-container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.overlay-container {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px 5px 20px 5px;
    color: #ffffff;
    text-align: center;
    font-family: 'main';
}

.overlay-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1px;
}

.start-title {
    font-size: clamp(4.8rem, 15vw, 10rem);
    font-weight: 700;
    line-height: 1;
    padding: 0px 0px 0px 0px;
    text-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
}

.start-subtitle, .title-spbgasu {
    font-size: 0.8rem;
    margin: 0;
    opacity: 0.9;
    font-family: Arial;
    color: #9d9d9d;
}

/* ЗАНАВЕС */
.curtain-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    pointer-events: none;
    display: flex;
}

.curtain {
    width: 50%;
    height: 100%;
    background-color: #8b0000;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    animation-fill-mode: forwards;
}

.left-curtain {
    transform-origin: left;
    animation-name: openLeftCurtain;
}

.right-curtain {
    transform-origin: right;
    animation-name: openRightCurtain;
}

@keyframes openLeftCurtain {
    0% { transform: scaleX(1); }
    100% { transform: scaleX(0); opacity: 0; }
}

@keyframes openRightCurtain {
    0% { transform: scaleX(1); }
    100% { transform: scaleX(0); opacity: 0; }
}

.error-text {
    color: #f87171;
    margin-top: 15px;
    font-size: 0.9rem;
    font-family: Arials;
}

.loading-text {
    font-size: 1.2rem;
    color: #6b7280;
    text-align: center;
    padding: 40px 0;
}
